rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access, but only content owners can write
    match /apphomepage/{document} {
      allow read: if true

    }
  }
}